.choose-plan {
    padding-top: 64px;
    padding-bottom: 80px;
}

.choose-plan__title {
    text-align: center;
}

.choose-plan__section-title {
    text-align: center;
    margin-bottom: 32px;
}

.choose-plan__cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.choose-plan__card {
    padding: 32px;
    border-radius: 24px;
    border: 1px solid var(--green-main-color);
    background: var(--grey-4);
    flex: 1;
}

.choose-plan__card.choose-plan__green-card {
    background: var(--green-main-color);
    color: var(--white-2);

}

.choose-plan__card-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-bottom: 32px;
    border-bottom: 2px solid var(--green-main-color);
    margin-bottom: 32px;
}

.choose-plan__card-title.choose-plan__green-card-title {
    border-bottom: 2px solid var(--white-2);
}

.choose-plan__price {
    display: block;
    position: relative;
    padding-right: 46px;
}

.choose-plan__price::after {
    content: "/ mo";
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.choose-plan__price.choose-plan__price-year {
    padding-right: 30px;
}

.choose-plan__price.choose-plan__price-year::after {
    content: "/ y";
}

.section-card__subtitle.choose-plan__subtitle {
    text-wrap: wrap;
    margin-bottom: 0;
    text-align: center;
}

.choose-plan__button {
    width: 100%;
}

.choose-plan__green-card-button {
    border: 2px solid var(--white-2);
    color: var(--white-2);
    background: var(--green-main-color);
}

.choose-plan__options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.choose-plan__options-item {
    position: relative;
    padding-left: 31px;
    text-align: left !important;
}

.choose-plan__options-item::before {
    content: url(../assets/list-marker-white.svg);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--green-main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-plan__options-item.choose-plan__green-options-item::before {
    content: url(../assets/list-marker-green.svg);
    background: var(--white-2);
}



@media (min-width: 768px) {
    .choose-plan__section-title {
        margin-bottom: 40px;
    }

    .choose-plan__cards-wrapper {
        flex-direction: row;
        gap: 24px;
    }

    .choose-plan__card-title {
        min-height: 338px;
        gap: 27px;
    }

}

@media (min-width: 1200px) {

    .choose-plan {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .choose-plan__card {
        padding: 56px;
    }

    .choose-plan__card-title {
        padding-bottom: 48px;
        margin-bottom: 48px;
        min-height: 334px;
    }

}