.contact-us {
    padding-top: 64px;
    padding-bottom: 64px;
}

.contact-us__title {
    margin-bottom: 12px;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-us__input-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    display: block;
    margin-bottom: 8px;
}

.contact-us__input {
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--green-main-color);
    background: var(--grey-4);
    padding: 12px;
    width: 100%;
    caret-color: var(--grey-5);
}

.contact-us__input::placeholder {
    color: var(--grey-5);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.contact-us__input:focus::placeholder {
    opacity: 0;
}

.contact-us__textarea {
    resize: none;
    height: 104px;
}

.btn.contact-us__button {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
}

@media (min-width: 768px) {
    .btn.contact-us__button {
        width: 168px;
    }
}

@media (min-width: 1200px) {

    .contact-us {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact-us__form {
        max-width: 856px;
        margin: 0 auto;
    }

    .contact-us__input-label {
        font-size: 22px;
    }

    .contact-us__input::placeholder {
        font-size: 16px;
    }

    .btn.contact-us__button {
        width: 196px;
        font-size: 18px;
        letter-spacing: 0.72px;
    }
}