.courses {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 69px;
}

.courses__card {
    min-height: 462px;
    display: block;
    border-radius: 8px;
    border: 1px solid var(--grey-2);
}

.courses__card:nth-of-type(2) {
    min-height: 510px;
}

.courses__card::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.section-card__description.courses__card-description {
    min-height: 184px;
}

.courses__card-ui-design {
    background: url(../assets/img/courses/image-1.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 60%;
}

.courses__card-full-stack {
    background: url(../assets/img/courses/image-2.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 60%;
}

.courses__card-qa {
    background: url(../assets/img/courses/image-3.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 60%;
}

.courses__card-smm {
    background: url(../assets/img/courses/image-4.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 60%;
}

.courses__card-subtitle {
    position: relative;
    display: block;
    padding-top: 32px;
}

.courses__card-subtitle::before {
    content: url(../assets/dan-logo.svg);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.btn-more-options {
    display: none;
}

@media (min-width: 768px) {
    .courses {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 40px 24px;
    }

    .courses__card,
    .courses__card:nth-of-type(2) {
        min-height: 382px;
    }

    .section-card__description.courses__card-description {
        min-height: 248px;
    }

    .section-title-wrapper {
        grid-column: span 4;
    }

    .courses__card-ui-design {
        background-size: 100% 35%;
    }

    .courses__card-full-stack {
        background-size: 100% 35%;
    }

    .courses__card-qa {
        background-size: 100% 35%;
    }

    .courses__card-smm {
        background-size: 100% 35%;
    }

    .btn-more-options {
        display: block;
        grid-column: span 4;
        justify-self: center;
        align-self: center;
    }
}

@media (min-width: 1200px) {

    .courses {
        margin-bottom: 83px;
    }

    .section-card__description.courses__card-description {
        min-height: 223px;
    }

    .courses__card-subtitle {
        display: inline-block;
        padding-top: 0;
        padding-left: 83px;
    }
    .courses__card-subtitle::before {
        content: url(../assets/dan-logo.svg);
        top: 50%;
        transform: translateY(-50%);
    }

    .courses__card {
        min-height: 493px;   
    }

    .courses__card-ui-design {
        background: url(../assets/img/courses/image-1.png);
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% 55%;
    }
    
    .courses__card-full-stack {
        background: url(../assets/img/courses/image-2.png);
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% 55%;
    }
    
    .courses__card-qa {
        background: url(../assets/img/courses/image-3.png);
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% 55%;
    }

    .courses__card-smm {
        background: url(../assets/img/courses/image-4.png);
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% 55%;
    }
    
}