.featured-topics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    row-gap: 32px;
    column-gap: 24px;
    margin-bottom: 69px;
}

.featured-topics-title {
    grid-column: span 2;
}

.feature-topics__card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feature-topics__card-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature-topics__card-item a {
    color: var(--green-main-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
}

.section-card__subtitle.featured-topics__subtitle {
    margin-bottom: 0;
}

.feature-topics__button {
    display: block;
    grid-column: span 2;
    justify-self: center;
}

@media (min-width: 768px) {
    .featured-topics {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 40px;
    }
    
    .featured-topics-title {
        grid-column: span 4;
    }

    .feature-topics__button {
        grid-column: span 4;
    }
}

@media (min-width: 1200px) {

    .featured-topics {
        margin-bottom: 83px;
    }
    
}