body {
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.content-wrapper {
    width: 1296px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
    margin-bottom: 105px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.header-logo img {
    width: 40px;
    height: 40px;
}

.header-logo a {
    color: #0E0F13;
    leading-trim: both;
    text-edge: cap;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
}

.header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navigation-list {
    display: flex;
    gap: 56px;
}

.header-navigation-list-item {
    color: #0E0F13;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

.header-navigation-list-item:hover {
    color: #425DF8;
}

.sign-buttons {
    display: flex;
    gap: 24px;
}

.button {
    padding: 18px 22px;
    border-radius: 8px;
    border-style: none;
    leading-trim: both;
    text-edge: cap;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    cursor: pointer;
}

.blue-button {
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
}

.blue-button:hover {
    background-color: inherit;
    color: #425DF8;
}

.white-button {
    border: 1px solid #DADADA;
    background-color: inherit;
    color: #0E0F13;
}

.white-button:hover {
    background: #DADADA;

}

/*MAIN--------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 196px;
}

h1 {
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 24px;
}

main>span {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 120px;
}

.plan-cards-container {
    display: flex;
    gap: 24px;
    align-items: flex-end;
    justify-content: center;
}

.plan-card {
    width: 416px;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    padding: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan-card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 125px;
    gap: 27px;
}

.plan-card-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.plan-card-name {
    color: #0E0F15;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.plan-card-description {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
}

.plan-card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.plan-card-price span:first-child {
    color: #0E0F15;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}

.plan-card-price span:nth-child(2) {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.plan-card-additional-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
}

.plan-card-additional-info-item {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;

}

.plan-card-additional-info-item img {
    width: 24px;
    height: 24px;
}

.plan-card-outlined {
    border: 1px solid #161A34;
    background: #161A34;
}

.plan-card-text-outlined {
    color: #F6FDFF !important;
}

/*FOOTER-------------------------------------------*/

footer {
    border-top: 1px solid #0E0F13;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 24px;
    height: 24px;
}

.footer-logo a {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.footer-content>span {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}





