@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Medium.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-SemiBold.woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Rochester;
    src: url("../fonts/Rochester-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

:root {
    --blue-background-color: #6D91DC;
    --white-text-color: #F8FDFE;
    --beige-color: #EEEEEF;
    --main-text-black-color: #1F1F1F;
    --white: #FFF;
    --black: #000;
    --grey-decoration-line: #A8A8A8;
    --gray-placeholder-color: #8E8E8E;
    --white-background: #F5F5F5;
    --red-price-color: #E90000;
    --btn-reset-default: #DEDEDE;
    --btn-reset-hover: #EEE;
    --btn-submit-default: #3D76BA;
    --btn-submit-hover: #63A1EB;
}

body {
    font-family: 'Cabin', sans-serif;
}

.content-wrapper {
    width: 1296px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header-blue-part-wrapper {
    background: var(--blue-background-color);
    padding: 16px 0;
}

.header-blue-part-container {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-logo-name {
    color: var(--white-text-color);
    font-family: Rochester;
    font-size: 28px;
    font-weight: 400;
}

.header-cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header-cart-span {
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-cart-btn {
    border-style: none;
    background-color: inherit;
    position: relative;
    cursor: pointer;
}

.header-cart-btn-span {
    color: var(--white-text-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    top: 17px;
    right: 20px;
}

.header-white-part-wrapper {
    background-color: var(--white);
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.header-navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-navigation-item {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/*-----------MAIN--------------------------------------*/

main {
    padding: 142px 0 121px;
    background: var(--beige-color);
}

.placing-order-form {
    display: flex;
    justify-content: space-around;
}

.placing-order-section-header {
    color: var(--main-text-black-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid var(--grey-decoration-line);
    padding-bottom: 23px;
    margin-bottom: 56px;
}

.placing-order-left-section,
.placing-order-right-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 416px;
}

.contact-details {
    width: 416px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.fieldset-legend-styles {
    color: var(--main-text-black-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.input-label-styles {
    color: var(--main-text-black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.input-styles {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
}

.reset-icon,
.reset-icon-textarea {
    width: 10px;
    height: 24px;
    position: absolute;
}

.reset-icon {
    top: 40px;
    right: 10px;
    display: none;
}

.input-styles:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    background: #F5F5F5;
    box-shadow: 0 0 0 3px rgba(36, 100, 241, 0.15);
}

.input-styles:valid {
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    color: #1F1F1F;
}

.input-styles:valid+.reset-icon {
    display: inline;
}

.input-styles:focus::placeholder,
.textarea-styles:focus::placeholder {
    visibility: hidden;
}

input::placeholder,
.order-confirmation span,
.order-menu-item-details {
    color: var(--gray-placeholder-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.delivery-details {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.textarea-container {
    position: relative;
}

.textarea-styles {
    width: 416px;
    height: 104px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--gray-placeholder-color);
    background: var(--white-background);
    resize: none;
    position: relative;
}

.reset-icon-textarea {
    top: 3px;
    right: 11px;
    visibility: hidden;
}

.textarea-styles:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    background: #F5F5F5;
    box-shadow: 0 0 0 3px rgba(36, 100, 241, 0.15);
}

.textarea-styles:valid {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.textarea-styles:valid~.reset-icon-textarea {
    visibility: visible;
}

.delivery-date-wrapper {
    display: flex;
    gap: 19px;
    align-items: center;
}

.choose-date-container {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

.datepicker-container {
    width: 112px;
    border-radius: 4px;
    border: 1px solid var(--gray-placeholder-color);
    background-color: inherit;
    padding: 2px 0 2px 8px;
    color: var(--main-text-black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    /* display: flex; */
    
}

.datepicker-style {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}



.user-comment-textarea {
    padding-top: 8px;
}

.order-confirmation {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.order-confirmation-item,
.payment-method-item {
    position: relative;
    cursor: pointer;
}

.order-confirmation-item input,
.payment-method-item input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark-default {
    width: 16px;
    height: 16px;
}

.checkmark-checked {
    position: absolute;
    top: 4px;
    left: 0;
    opacity: 0;
}

.order-confirmation-item input:checked~.checkmark-checked,
.payment-method-item input:checked~.checkmark-checked {
    opacity: 1;
}

.order-confirmation-checkbox-container,
.payment-method {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.order-confirmation-item,
.payment-method-item {
    flex-direction: row;
    align-items: center;
}

.payment-method {
    padding-top: 24px;
}

/* ---------RIGHT SECTION---------------------------- */

.placing-order-right-section {
    width: 526px;
    background-color: var(--white-background);
    padding: 40px;
    height: fit-content;
}

.user-order-choice {
    display: flex;
    justify-content: space-between;
}

.user-order-choice-details {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.order-menu-item {
    font-weight: 700;
    width: 192px;
    border-bottom: 1px solid var(--grey-decoration-line);
}

.order-items-quantity {
    min-width: 53px;
    border-radius: 4px;
    border: 1px solid var(--gray-placeholder-color);
    padding: 4px 8px;
    max-width: fit-content;
    position: relative;
    text-align: center;
}

.order-items-quantity span::before {
    content: "-";
    position: absolute;
    left: 4px;
    top: 4px;
}

.order-items-quantity span::after {
    content: "+";
    position: absolute;
    right: 4px;
    top: 4px;
}

.item-price {
    color: var(--red-price-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.user-order-total-price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-decoration-line);
    padding-top: 8px;
}

.agree-terms-checkbox {
    flex-direction: row;
    padding-bottom: 16px;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.agree-terms-checkbox input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
}

.checkbox-default,
.checkbox-checked {
    width: 16px;
    height: 16px;
}

.checkbox-checked {
    position: absolute;
    top: 4px;
    left: 0;
    opacity: 0;
}

.agree-terms-checkbox input:checked~.checkbox-checked {
    opacity: 1;
}

.user-order-btn-container {
    display: flex;
    gap: 16px;
}

.btn {
    padding: 8px 24px;
    min-width: 95px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    flex-grow: 1;
}

.btn-submit {
    color: var(--white-text-color);
    background: var(--btn-submit-default);
}

.btn-submit:hover {
    background: var(--btn-submit-hover);
}

.btn-reset {
    background: var(--btn-reset-default);
    color: var(--main-text-black-color);
}

.btn-reset:hover {
    background-color: var(--btn-reset-hover);
}

.footer-blue-wrapper {
    background-color: var(--blue-background-color);
    padding: 32px 0;
}

.footer-content {
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}