@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Medium.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-SemiBold.woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url("../fonts/Cabin-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

.content-wrapper {
    width: 1296px;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-blue-part-wrapper {
    background-color: #10BBD5;
    padding: 22px 52px;
}

.header-logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding-left: 30px;
}

.header-logo svg {
    display: block;
    width: 26px;
    height: 28px;
    position: absolute;
    top: -2px;
    left: 4px;
}

.header-cart-container {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.header-cart-button {
    position: relative;
    border-style: none;
    background-color: inherit;
    cursor: pointer;
}

.header-cart-button img {
    width: 40px;
    height: 40px;
}

.header-cart-button span {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    position: absolute;
    right: 19px;
    top: 13px;
}

.header-white-part-wrapper {
    background-color: #FFF;
    padding: 5px 0;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation a,
.header-navigation-list a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-navigation-list {
    display: flex;
    gap: 40px;
}


/*--------------MAIN--------------------------------------*/

main {
    background: #EEEEEF;
    padding-top: 141px;
}

h1 {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 23px;
}

.product-catalogue {
    padding: 24px 0 120px 0;
    border-top: 1px solid #A8A8A8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
}

.catalogue-item {
    padding: 32px;
    width: 306px;
    border: 1px solid #8E8E8E;
    background-color: #F8FDFE;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.item-image {
    align-self: center;
}

.item-image img {
    width: 178px;
    height: 280px;
}

.item-description-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-description {
    display: flex;
    flex-direction: column;
}

.item-name {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: block;
    border-bottom: 1px solid #A8A8A8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-author {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.item-prices-container {
    display: flex;
    gap: 24px;
}

.item-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.item-old-price {
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;
}

.button {
    min-width: 95px;
    padding: 8px 24px;
    border-radius: 4px;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-style: none;
    cursor: pointer;
}

.purple-button {
    background: #4C394E;
}

.purple-button:hover {
    background: #744978;
}

.green-button {
    background: #4D762D;
}

.green-button:hover {
    background: #6DB236;
}

.label-container {
    display: flex;
    gap: 4px;
    position: absolute;
    top: 32px;
    left: 32px;
}

.label-item {
    padding: 4px 8px;
    border-radius: 4px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.purple-label {
    background-color: #AF39E7;
}

.blue-label {
    background-color: #4200FF;
}

.pink-label {
    background-color: #EA33C0;
}

.ask-me-btn-container {
    border-style: none;
    background-color: inherit;
    width: fit-content;
    position: fixed;
    right: 92px;
    top: 701px;
    cursor: pointer;
}

.ask-me-btn-default,
.ask-me-btn-hover {
    width: 64px;
    height: 64px;
    position: absolute;
}

.ask-me-btn-default {
    z-index: 1;
}

.ask-me-btn-container:hover .ask-me-btn-hover {
    z-index: 2;
}

/*---------------------FOOTER--------------------*/

footer {
    background-color: #4C394E;
}

.footer-content {
    padding: 32px 0;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}











