body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-navigation {
    padding: 32px 0;
    text-align: center;
}

.header-navigation-item {
    display: inline-block;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 72px;
    box-sizing: border-box;
}

.header-navigation li:last-of-type {
    padding-right: 0;
}

main img {
    display: block;
    width: 1400px;
    height: 552px;
    margin-bottom: 88px;
}

.main-header {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 40px;
}

.main-text {
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 24px;
}

.main-text span {
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}

.main-content-wrapper {
    width: 856px;
    margin: 0 auto;
}

.main-list {
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
    padding-left: 30px;
    box-sizing: border-box;
}

.action-button {
    padding: 10px 24px;
    background: #04959E;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    width: fit-content;
    margin: 0 auto 102px;
    cursor: pointer;
}

footer {
    border-top: 1px solid #161616;
    padding: 16px 0;
    text-align: center;
}

footer span {
    color: #161616;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}